
@layout('layout/auth/main')
@section('content')

<a href="/AudreySP/updatedbstart/1" class="btn btn-outline-primary" id="start" onclick="startal()">啟動</a>
<script>
    function startal(){
        alert('開啟囉')
    }
</script>
{{--  <a href="/updatedbstart/2" class="btn btn-outline-primary">取消</a>  --}}
@endsection
