@layout('layout/auth/main')

@section('content')
<a href="/AudreySP/uploadfile" class="btn btn-outline-primary">返回上傳頁面</a>

<ul class="list-group">
@each( data in excelObj )
<li class="list-group-item">
{{ data }}
</li>
 @endeach
</ul>

@endsection